@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a los acertijos del Manchester City</h1>
    <img src="@ViewBag.Logo">
    <p> "Blue moon, you saw me standing alone whitout a dream y my heart, whitout a love of my own" </p>
</div>

<img src="/city.png" width="50%" height="auto">
