@{
    ViewBag.Title = "Aca tenes un tutorl para que practiques y seas campeon como el city";
}

<h2> Bienvenido al tutorial. </h2>
<p> Estas por vivir una experiencia de juego en la que tendras que resolver diferentes acertijos y puzzles para encontrar una respuesta y lograr ser campeon como el Manchester City.</p>
<p> La tematica es la siguiente, en base a las imagenes que te van a aparecer en pantalla vas a tener que resolve el enigma ya sea ingresando numeros o palabras</p>

<img src="/foto5.jpg" width="100%">