@{
    ViewBag.title = "Habitacion 4";
}
@if(ViewBag.Error == true){
    <h1> Tropezon no es caida, intenta otra vez </h1>
}
<p>Muy bien, ya estas por la habitacion final, aca lo que vas a tener que desifrar es con numeros</p>
<p>La cantidad de goles que hizo el City en la Premier 21/22 es Foden + Mahrez + DeBruyne + Ederson - Laporte + Dias + Aké - (Rodri/Rodri)</p>
<img src="/sala4.png" class="imgs"> 

<form method="post" action="Habitacion">
    <input type="number" name="clave" placeholder="Ingrese el codigo" required autocomplete="off">
    <input type="hidden" name="sala" value='@ViewBag.EstadoJuego'>
    <input type="submit" value="Aceptar">
</form>