@{
    ViewBag.Title = "Bienvenido";
}

<p> Bienvenido a la sala de escape del City hermano, para empezar a jugar presione comenzar</p>
<a href='@Url.Action("Comenzar","Escape")'> COMENZAR </a>

<div class="bajar">
<img src="/foto.jpeg">
</div>